/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

ul {
	display: list-item;
	margin: 0.5em 2em;
}

.wrapper {
	margin: 2em auto;
	max-width: $content-width;
}
