/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

ul {
	display: list-item;
	margin: 0.5em 2em;
}

body {
	font-family: $base-font-family;
	line-height: 1.5em;
	color: #111;
}

h1 {
	font-weight: normal;
	font-style: italic;
}

h2 {
	font-size: 1em;
	//font-weight: normal;
	text-transform: uppercase;
	font-family: $alt-font-family;
	background: #FFD726;
	display: inline;
	letter-spacing: 0.2em;
	padding: 3px;
}

h3 {
	font-size: 0.9em;
	font-style: italic;
}

ul {
	margin-bottom: 3em;
	ul {
		margin-bottom: 1.5em;
	}
}

li{
	margin: 1em 0;
}

a {
	&:link, &:visited {
		color: #111;
	}
}

p {
	margin: 1em 0;
}

.header {
	margin: 0 0 2em 0;
}

.description {
	font-style: italic;
	margin: 5px 0;
}

.wrapper {
	margin: 2em auto;
	padding: 1em;
	max-width: $content-width;
}
